.container {
    width: 400px;
    height: 400px;
    margin: 90px auto;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.item1 {
    margin: 10px auto 0;  
}

.item2, .item3 {
    margin: 0 auto 10px;
}

.item1, .item2 {
    height: 20%;
}

input {
    width: 350px;
    height: 50px;
}

#addition, #subtraction, #multiplication, #division {
    margin: 10px;
    width: 70px;
    height: 40px;
}

.item3 {
    display: flex;
}

.item3-inner1 {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.item3-inner1-1, .item3-inner1-2, .item3-inner1-3, .item3-inner1-4 {
    height: 25%;
    margin-bottom: 10px;
}

#seven, #eight, #nine, #four, #five, #six, #one, #two, #three, #zero, #dot, #delete {
    width: 90px;
    height: 40px;
    margin: 5px;
}

#equal {
    height: 95%;
}

@media (max-width: 450px) {
    .container {
        width: 300px;
        height: 300px;
    }

    .item1 {
        margin: 5px auto 0;  
    }

    .item2, .item3 {
        margin: 0 auto 5px;
    }

    input {
        width: 250px;
        height: 40px;
    }

    #addition, #subtraction, #multiplication, #division {
        margin: 5px;
        width: 50px;
        height: 30px;
    }

    .item3-inner1 {
        margin-right: 5px;
    }

    .item3-inner1-1, .item3-inner1-2, .item3-inner1-3, .item3-inner1-4 {
        margin-bottom: 5px;
    }

    #seven, #eight, #nine, #four, #five, #six, #one, #two, #three, #zero, #dot, #delete {
        width: 60px;
        height: 30px;
    }
}